<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand">
            <i class="fa fa-home"></i> Home
        </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2">
            <a class="nav-link" href="/wine/clientsBiggerValue"><i class="fa fa-users"></i> Listar Clientes Ordenados Valor Maior</a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link" href="/wine/clientBiggerLast"><i class="fa fa-user"></i> Cliente Compra Maior de 2016</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wine/clientsFaithful"><i class="fa fa-users"></i> Listar Clientes Fiéis</a>
        </li>
    </ul>

</nav>